<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/index2.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- <script src="index.js" defer></script> -->
  </head>
  <body>
    <div class="body">
      <div class="form">
        <form action="/signup" method="post">
          <h1>E lerning platform</h1>
          <div class="input">
            <input
              type="text"
              required
              placeholder="First Name"
              id="name"
              name="name"
              autocomplete="off"
            />
          </div>
          <div class="input">
            <input
              type="text"
              required
              placeholder="Last Name"
              id="name2"
              name="name2"
              autocomplete="off"
            />
          </div>
          <div class="input">
            <input
              type="email"
              required
              placeholder="Enter Your Email"
              name="email"
              id="email"
            />
          </div>
          <div class="input">
            <input
              type="password"
              required
              placeholder="Password"
              name="password"
              id="password"
            />
          </div>
          <div class="input">
            <input
              type="text"
              required
              placeholder="Username"
              name="username"
              id="username"
            />
          </div>
          <div class="input">
            <input
              type="number"
              required
              placeholder="phone"
              name="phone"
              id="phone"
            />
          </div>
          <div class="input">
            <label for="">Your birthday</label>
            <input
              type="date"
              required
              placeholder="Password"
              name="date"
              id="date"
            />
          </div>

          <div class="input">
            <label for="">male</label>
            <input
              type="radio"
              required
              value="male"
              name="gender"
              id="gender"
            />
          </div>
          <div class="input">
            <label for="">female</label>
            <input
              type="radio"
              required
              value="male"
              name="gender"
              id="gender"
            />
          </div>

          <input class="login" type="submit" value="register now" />
          <div class="link-register">
            <p>welcome to e lerning platform <a href="#">home</a></p>
          </div>
          <div class=""></div>
        </form>
      </div>
    </div>
  </body>
</html>
